# Project exclude paths
/cmake-build-debug/
/.idea/
/gen/
src/Parser/gen
src/Parser/generated/**

*.tokens
*.sed

!/generated/JavaScriptParserBaseVisitor.h
!/generated/JavaScriptParserBaseVisitor.cpp
